BeamWindow/Service References/BlueBeamService/BlueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlueService.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlueService.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tan">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      <xs:element minOccurs="0" name="CAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentWorkflowUserRoleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentReviwedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDuplicate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsQCCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Issue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JournalYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastAccessedBy_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastAccessedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalDocumentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumsCount" type="xs:int" />
      <xs:element minOccurs="0" name="OCRStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RxnCount" type="xs:int" />
      <xs:element minOccurs="0" name="TanCategory" type="xs:int" />
      <xs:element minOccurs="0" name="TanState" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDocumentsPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tanNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tan" nillable="true" type="tns:Tan" />
</xs:schema>