BeamWindow/Service References/BlueBeamService/BlueData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlueData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.45.29/BlueBeem/BlueService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.45.29/BlueBeem/BlueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.45.29/BlueBeem/BlueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlueService.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlueData_ServiceTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTest" />
  </wsdl:message>
  <wsdl:message name="IBlueData_ServiceTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTestResponse" />
  </wsdl:message>
  <wsdl:message name="IBlueData_GetAllFilePaths_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilePaths" />
  </wsdl:message>
  <wsdl:message name="IBlueData_GetAllFilePaths_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilePathsResponse" />
  </wsdl:message>
  <wsdl:message name="IBlueData_UpdateFileModel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileModel" />
  </wsdl:message>
  <wsdl:message name="IBlueData_UpdateFileModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlueData">
    <wsdl:operation name="ServiceTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlueData/ServiceTest" message="tns:IBlueData_ServiceTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlueData/ServiceTestResponse" message="tns:IBlueData_ServiceTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFilePaths">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlueData/GetAllFilePaths" message="tns:IBlueData_GetAllFilePaths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlueData/GetAllFilePathsResponse" message="tns:IBlueData_GetAllFilePaths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlueData/UpdateFileModel" message="tns:IBlueData_UpdateFileModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlueData/UpdateFileModelResponse" message="tns:IBlueData_UpdateFileModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlueData" type="tns:IBlueData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceTest">
      <soap:operation soapAction="http://tempuri.org/IBlueData/ServiceTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilePaths">
      <soap:operation soapAction="http://tempuri.org/IBlueData/GetAllFilePaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileModel">
      <soap:operation soapAction="http://tempuri.org/IBlueData/UpdateFileModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlueData">
    <wsdl:port name="BasicHttpBinding_IBlueData" binding="tns:BasicHttpBinding_IBlueData">
      <soap:address location="http://192.168.45.29/BlueBeem/BlueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>