Client/Service References/S3Connection/S3Connection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="S3Connection" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.21.10.245/S3Bucket/Services/S3Connection.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.21.10.245/S3Bucket/Services/S3Connection.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.21.10.245/S3Bucket/Services/S3Connection.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductTracking.Services" />
      <xsd:import schemaLocation="http://172.21.10.245/S3Bucket/Services/S3Connection.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://172.21.10.245/S3Bucket/Services/S3Connection.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IS3Connection_FileUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUpload" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_FileUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_FileUploadDone_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadDone" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_FileUploadDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_GetS3Object_InputMessage">
    <wsdl:part name="parameters" element="tns:GetS3Object" />
  </wsdl:message>
  <wsdl:message name="IS3Connection_GetS3Object_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetS3ObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IS3Connection">
    <wsdl:operation name="FileUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Connection/FileUpload" message="tns:IS3Connection_FileUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Connection/FileUploadResponse" message="tns:IS3Connection_FileUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileUploadDone">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Connection/FileUploadDone" message="tns:IS3Connection_FileUploadDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Connection/FileUploadDoneResponse" message="tns:IS3Connection_FileUploadDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Connection/DownloadFile" message="tns:IS3Connection_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Connection/DownloadFileResponse" message="tns:IS3Connection_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetS3Object">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Connection/GetS3Object" message="tns:IS3Connection_GetS3Object_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Connection/GetS3ObjectResponse" message="tns:IS3Connection_GetS3Object_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IS3Connection" type="tns:IS3Connection">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUpload">
      <soap:operation soapAction="http://tempuri.org/IS3Connection/FileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileUploadDone">
      <soap:operation soapAction="http://tempuri.org/IS3Connection/FileUploadDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IS3Connection/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetS3Object">
      <soap:operation soapAction="http://tempuri.org/IS3Connection/GetS3Object" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S3Connection">
    <wsdl:port name="BasicHttpBinding_IS3Connection" binding="tns:BasicHttpBinding_IS3Connection">
      <soap:address location="http://172.21.10.245/S3Bucket/Services/S3Connection.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>