Client/Service References/S3Connection/S3Connection2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductTracking.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductTracking.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Offset" type="xs:int" />
      <xs:element minOccurs="0" name="actionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileData" nillable="true" type="tns:FileData" />
</xs:schema>